@inherits LayoutComponentBase

<div class="main">
    <div class="flex justify-between items-center bg-blue-500 p-8 text-white">
        <span class="text-4xl">HTLVB Prowo</span>
        <div class="print:hidden"><LoginDisplay /></div>
    </div>

    <div class="p-4">
        @Body
    </div>
</div>
