@using Microsoft.Identity.Web

<AuthorizeView>
    <Authorized>
        <span class="inline-block mr-2">Hallo, @context.User.GetDisplayName()!</span>
        <a class="btn btn-white" href="MicrosoftIdentity/Account/SignOut">Abmelden</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-white" href="MicrosoftIdentity/Account/SignIn">Anmelden</a>
    </NotAuthorized>
</AuthorizeView>
