@page "/projects"

@using Prowo.BlazorServer.Database

@inject Db Db

@if (projects == null)
{
    <p><em>Projekte werden geladen...</em></p>
}
else
{
    <h2>Projekte</h2>
    <a href="projects/edit">Neues Projekt anlegen</a>
    <div class="projects">
        @foreach (var project in projects)
        {
            <div class="project">
                @project.Title
            </div>
        }
    </div>
}

@code {

    private List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        await foreach (var dbProject in Db.GetAllProjects())
        {
            projects.Add(Project.FromDbProject(dbProject));
        }
    }

    public record Project(string Title)
    {
        public static Project FromDbProject(DbProject dbProject)
        {
            return new(dbProject.Title);
        }
    }
}