@page
@model Prowo.Web.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Id" class="control-label"></label>
                <input asp-for="Project.Id" class="form-control" />
                <span asp-validation-for="Project.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.OrganizerId" class="control-label"></label>
                <input asp-for="Project.OrganizerId" class="form-control" />
                <span asp-validation-for="Project.OrganizerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Location" class="control-label"></label>
                <input asp-for="Project.Location" class="form-control" />
                <span asp-validation-for="Project.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Date" class="control-label"></label>
                <input asp-for="Project.Date" class="form-control" />
                <span asp-validation-for="Project.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartTime" class="control-label"></label>
                <input asp-for="Project.StartTime" class="form-control" />
                <span asp-validation-for="Project.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.EndTime" class="control-label"></label>
                <input asp-for="Project.EndTime" class="form-control" />
                <span asp-validation-for="Project.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
